{% extends 'base.html' %}
{% load static %}
{% block title%}{{post.title_tag}}{% endblock %}


{% block content %}

<h1>{{post.title}}</h1>
<small>By: 
	{{post.author.first_name}}
	{{post.author.last_name}} - {{post.post_date}} 
	{% if user.is_authenticated %}
		{% if user.id == post.author.id or user.is_superuser or user.tipousuario.tipo == "admin"%}
		- <a class="btn btn-outline-warning" href="{% url 'update_post' post.pk %}">Editar</a>
		<a class="btn btn-outline-warning" href="{% url 'delete_post' post.pk %}">Borrar</a>
		{% endif%}
	{% endif %}
</small><br/>
<hr>
<br/>
{% if post.header_image %}
<img src="{{ post.header_image.url }}" class="img-fluid" style="max-height: 500px; min-width: 1100px;">
{% endif %}
<br/><br/>
{{post.body|safe}}


<hr>
<br/>

{% if post.author.profile %}
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-2">
    {% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url}}" class="img-fluid rounded-start">
    {% else %}
    	<img src="{% static 'profilepic.png' %}" class="img-fluid rounded-start">
    {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">
        	{{post.author.first_name}}
			{{post.author.last_name}}
        </h5>
        <p class="small text-muted">
        	<a href="{% url 'show_profile_page' post.author.profile.id %}">Pagina de Perfil</a>
        	{% if post.author.profile.website_url%}
        	<a href="{{ post.author.profile.website_url}}">Youtube</a>
        	{% endif %}
        </p>
        <p class="card-text">{{post.author.profile.bio}}
        </p>
      </div>
    </div>
  </div>
</div>
{% endif %}

<br/>
<h2>Comentarios...</h2>
<br/>
{% if not post.comments.all %}
No hay comentarios que mostrar...
<a href="{% url 'add_comment' post.pk %}">Agrega un comentario</a>
{% else%}
<a href="{% url 'add_comment' post.pk %}">Agrega un comentario</a>
<br/><br/>
  {% for comment in post.comments.all %}
    <strong>
      {{comment.author}} - 
      {{comment.date_added}}
    </strong>
    <br/>
    {{ comment.body }}
    <br/><br/>
    
  {% endfor %}
{% endif %}
<hr>
<br/><br/>


{% endblock %}