{% extends 'base.html' %}

{% block content %}

{% if category_posts%}

	<h1>{{ cats }} </h1>

	<div >
	{% for post in category_posts %}
		{% if post.estado == "a" or user.id == post.author.id %}
		<div class="card mb-3">

			{% if post.header_image %}
				<img src="{{ post.header_image.url }}" class="card-img-top" style="max-height: 400px;" alt="...">
			{% endif %}
			
			<div class="card-body">
				{% if post.estado == "b" %}
					<div   style="width: auto; height: 1000 px;">
						<h6 class="p-3 mb-2 bg-warning text-dark">Borrador (solo tu puedes ver el post)</h6>
					</div>
				{% endif %}
				<strong class="d-inline-block mb-2 text-primary">
					<a href="{% url 'category' post.category %}" style="text-decoration: none;">{{ post.category }}</a>
				</strong>
			    <h4 class="mb-0">
			    	<a class="text-dark" href="{% url 'article-detail' post.pk %}" style="text-decoration: none;">{{post.title}}</a>
				</h4>
				
			    <p class="card-text">{{ post.snippet }}</p>
			    <h6>
			    	<a href="{% url 'article-detail' post.pk %}">Leer mas...</a>
			    </h6>
			    <p class="card-text"><small class="text-muted">{{post.author.first_name}} {{post.author.last_name}} - {{post.post_date}}</small>
			    </p>
			    {% if user.is_authenticated %}
					{% if user.id == post.author.id or user.is_superuser %}
						<hr>
						<div>
							<div class="float-end">
								<a  class="btn btn-outline-warning" href="{% url 'update_post' post.pk %}">Editar</a> 
								<a class="btn btn-outline-danger"  href="{% url 'delete_post' post.pk %}">Borrar</a>
							</div>
						</div>
					{% endif %}
				{% endif %}					   	
			</div>

		</div>
		{% endif %}
		<br/>
	{% endfor %}
	</div> 

{% else %}
	<h2>Lo sentimos, esta pagina no existe...</h2>
{% endif%}


{% endblock %}