{% extends 'base.html' %}
{% block title%}Crear un nuevo Perfil Page{% endblock %}
{% block content %}


{% if user.is_authenticated %}
	<h1>Crear Perfil</h1>
	<br/><br/>
	<div >
		<div class="form-group">
			<form method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				{{ form.media }}
				{{ form.as_p }}
				<button class="btn btn-secondary">Crear</button>
			</form>
		</div>
	</div>
	
{% else %}
No deberias estar aqui! (y lo sabes...)
{% endif %}

<br/><br/><br/><br/><br/><br/>

{% endblock %}